extends base_template

block header_injection
    title #{title}

block contents
    h1 Welkom op de updatepagina
    h2 Hier kun je resultaten updaten voor de gekozen student:

    h3 Beschikbare studenten:
    ul
        each val in list
            li= val.name

    form(action=url, method='POST', enctype="application/x-www-form-urlencoded")
        input(type='text', name="toUpdateInput")
        input(type='submit', value='OK', id='submitButton')

    h2 Terug naar homepage:
        a(href="http://localhost:3000/")
            button(type="button") Terug naar home

    div(class="pagination")
        a(href="http://localhost:3000/") 1
        a(href="http://localhost:3000/score" ) 2
        a(href="http://localhost:3000/coursescore") 3
        a(href="http://localhost:3000/list") 4
        a(href="#" class="active") 5