<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobiledevelopment2021citymanager">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsFragment"
            android:exported="true" />
        <activity
            android:name=".navigation_bar"
            android:exported="true"
            android:label="@string/title_activity_navigation_bar" />
        <activity
            android:name=".SpashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListFragment"
            android:exported="true" />
        <activity
            android:name=".DetailFragment"
            android:exported="true" />
        <activity
            android:name=".AddFragment"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="true" />
        <activity
            android:name=".EditTrafficJamActivity"
            android:exported="true" />
    </application>

</manifest>